/* main screen */

.main-screen{
    display: flex;
    flex-direction: row;
    height: 100vh;
    position: relative;
    padding: 0 100px;
}
.scroll-down-container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    width: 140px;
    height: 150px;
    position: absolute;
    left: calc(50% - 70px);
    top: calc(100% - 187px);
}
.scroll-down-text{
    color: #6B6B6B;
    font-weight: 600;
    font-size: 18px;
    text-align: center;
    width: 100%;
    display: block;
    line-height: 22px;
    user-select: none;
    pointer-events: none;
}

/* left side */

.home-left{
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: right;
    align-items: center;
    /*padding: 0 100px 0 0;*/
}
.home-svg-wrapper{
    opacity: 0;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 110%;
    margin-right: 70px;
}
.home-svg-file{
    position: absolute;
    width: 67%;
    height: auto;
}
.home-svg-artwork{
    opacity: 1;
    width: 100%;
    height: auto;
    user-select: none;
}
.home-svg-wrapper, .home-svg, .home-svg-2{
    transition: none;
}

/* right side */

.home-right{
    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
    width: 50%;
    height: 100%;
    display: flex;
    justify-content: left;
    align-items: center;
    padding: 0 0 0 100px;
}
.title-content{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.header{
    font-size: 34px;
    font-weight: 500;
    line-height: 44px;
    margin-left: 4px;
}
.title-name{
    font-size: 85px;
    font-weight: 700;
    line-height: 100px;
    background: rgb(3,92,226);
    background: linear-gradient(206deg, rgba(3,92,226,1) 0%, rgba(13,197,248,1) 100%);
    -webkit-background-clip: text;
    Background-clip: text;
    -webkit-text-fill-color: transparent;
}
.title-social-container{
    display: flex;
    margin-top: 10px;
    justify-content: space-between;
    width: 164px;
    margin-left: 6px;
    user-select: none;
}
.title-text{
    color: #cccccc;
    font-size: 20px;
    font-weight: 600;
    margin-left: 5px;
    margin-top: 26px;
    line-height: 28px;
    max-width: 658px;
}
.title-anime-1, .title-anime-2, .title-anime-3, .title-anime-4, .scroll-down-anime-1, .scroll-down-anime-2{
    opacity: 0;
    transition-duration: 0ms;
}

/* home content */

.home-content-container{
    display: flex;
    flex-direction: column;
    width: 100%;
}
.about-me-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 60px 0 85px 0px;
    margin-top: 40px;
}
.section-content-wrapper{
    width: 1100px;
}
.section-content-wrapper.row{
    width: 1100px;
    display: flex;
    flex-direction: row;
}
.about-me-text{
    line-height: 19px;
    margin-top: 25px;
    color: #cccccc;
    font-weight: 500;
}

.skills-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
}
.skill-category{
    max-width: 275px;
    display: flex;
    flex-direction: column;
}
.skill-category-name{
    font-weight: 500;
    font-size: 24px;
    line-height: 29px;
}
.scn-separation{
    background-color: hsla(0, 0%, 85%, 0.15);
    width: 0px;
    height: 3px;
    border-radius: 1px;
    margin: 13px 0;
}
.skill-tags{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}
.skill-tag{
    background-color: #303030;
    border-radius: 9px;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    font-weight: 500;
}
.skill-tag-empty{
    width: 60px;
    padding: 5px 10px;
    margin-right: 8px;
    margin-bottom: 8px;
    pointer-events: none;
}
.fake-skill-tag{
    font-weight: 600;
    color: #969696;
    margin-left: 10px;
    margin-top: 5px;
}
.software-container{
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 70px;
    padding-left: 120px;
    padding-bottom: 80px;
}
.software-category-container{
    width: 122px;
    margin-right: 41px;
    background-color: #252525;
    border-radius: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    height: fit-content;
    padding-bottom: 38px;
}
.software-category-container.last{
    margin-right: 0px;
}
.software-icon{
    opacity: 0;
    width: 100%;
    filter: grayscale() contrast(70%) brightness(75%);
    transition-duration: 200ms;
}
.software-icon:hover{
    filter: none;
    transition-duration: 200ms;
    cursor: pointer;
}
.software-tooltip-container{
    position: relative;
    display: flex;
    justify-content: center;
    width: 36%;
    margin-top: 38px;
    user-select: none;
}
.software-tooltip-window{
    background-color: #303030;
    border-radius: 12px;
    position: absolute;
    bottom: 160%;
    display: flex;
    flex-direction: column;
    text-wrap: nowrap;
    visibility: hidden;
    opacity: 0;
    transition-duration: 200ms;
    pointer-events: none;
}
.software-tooltip-container:hover .software-tooltip-window{
    visibility: visible;
    opacity: 1;
    transition-duration: 200ms;
}
.software-tooltip-title{
    padding: 8px 13px 0 13px;
    font-weight: 500;
}
.software-tooltip-text{
    padding: 0 13px 8px 13px;
    color: #969696;
    font-weight: 500;
}

.education-container{
    position: relative;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 85px 0 85px 0px;
}
.education-content-wrapper{
    display: flex;
    flex-direction: row;
}
.education-timeline{
    max-width: 200px;
    display: flex;
}
.education-timeline-years{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}
.education-timeline-years span{
    width: fit-content;
}
.education-timeline-line{
    display: flex;
    flex-direction: column;
    margin-left: 14px;
    padding: 10px 0px;
}
.education-entries{
    display: flex;
    flex-direction: column;
    margin-left: 24px;

    width: -moz-available;
    width: -webkit-fill-available;
    width: fill-available;
}
.education-entry-container{
    background-color: #252525;
    border-radius: 20px;
    padding: 24px;
    display: flex;
    flex-direction: row;
}
.education-entry-location{
    margin-left: 0px;
}
.education-date-short{
    display: none;
}



/*   Responsive   */

@media screen and (max-width: 1550px) {
    .about-me-container{
        flex-direction: column;
        align-items: center;
        padding: 60px 80px 85px 80px;
    }
    .aboutme-anime-svg{
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
    .skills-container{
        flex-direction: column;
        align-items: center;
        padding: 60px 80px 0px 80px;
    }
    .software-container{
        padding: 40px 80px 80px 80px;
    }
    .skills-anime-1{
        margin-right: 0px !important;
        margin-bottom: 10px;
    }
    .section-content-wrapper{
        justify-content: center;
    }
    .skill-category{
        margin-bottom: 40px;
    }
    .education-container{
        flex-direction: column;
        align-items: center;
        padding: 60px 80px 85px 80px;
    }
    .education-anime-svg{
        margin-right: 0px !important;
        margin-bottom: 8px;
        margin-top: 15px;
    }
}
@media screen and (max-width: 1300px) {
    .home-right{
        padding: 0 0 0 0px;
    }
    .home-left{
        width: 70%;
        margin-left: -50px;
    }
    .home-svg-wrapper{
        margin-right: 100px;
    }
    .section-content-wrapper.row{
        flex-wrap: wrap;
        width: 100%;
    }
}
@media screen and (max-width: 1270px) {
    .section-content-wrapper{
        width: auto;
    }
}
@media screen and (max-width: 1259px) {
    .software-category-container{
        margin-right: 20.5px;
        margin-left: 20.5px;
        margin-bottom: 41px;
    }
    .software-anime-7{
        margin-right: 20.5px;
    }
    .software-container{
        padding: 40px 59.5px 80px 19.5px;
    }
}
@media screen and (max-width: 1160px) {
    #education-timeline-year-2025 {
        margin-bottom: 70px !important;
    }
}
@media screen and (max-width: 970px) {
    .main-screen{
        flex-direction: column;
    }
    .home-left{
        width: 100%;
        height: 55%;
        justify-content: center;
        align-items: center;
        margin-left: 0px;
    }
    .home-right{
        justify-content: center;
        align-items: start;
        width: 100%;
        height: 45%;
    }
    .home-svg-wrapper{
        width: 60%;
        margin-left: 0px;
        margin-top: 90px;
        margin-right: 0px;
    }
    .scroll-down-anime-2{
        display: none;
    }
    .scroll-down-container{
        justify-content: end;
    }
    .title-text{
        width: 100%;
        max-width: none;
    }
}
@media screen and (min-height: 1220px) {
    .scroll-down-anime-2{
        display: block !important;
    }
    .scroll-down-container{
        justify-content: space-between;
    }
}
@media screen and (min-height: 1020px) {
    .home-left{
        height: 60%;
    }
    .home-right{
        height: 40%;
    }
}
@media screen and (min-height: 1020px) and (min-width: 970px) {
    .home-left{
        height: 100%;
    }
    .home-right{
        height: 100%;
    }
}
@media screen and (max-height: 878px) {
    .title-text{
        font-size: 18px;
        line-height: 26px;
    }
}
@media screen and (max-width: 810px) {
    #education-timeline-year-2025 {
        margin-bottom: 100px !important;
    }
}
@media screen and (max-height: 760px) {
    .title-text{
        font-size: 16px;
        line-height: 24px;
    }
    .scroll-down-anime-2{
        display: none;
    }
    .scroll-down-container{
        justify-content: end;
    }
    .scroll-down-container{
        top: calc(100% - 175px) !important;
    }
    .scroll-down-text{
        font-size: 16px;
        line-height: 20px;
    }
}
@media screen and (max-height: 700px) {
    .scroll-down-container{
        display: none;
    }
}
@media screen and (max-width: 860px) {
    .home-svg-wrapper{
        width: 80%;
    }
}
@media screen and (max-width: 770px) {
    .title-name{
        font-size: 65px;
        font-weight: 700;
        line-height: 85px;
    }
}
@media screen and (max-width: 696px) {
    .education-year-dash{
        display: none;
    }
}
@media screen and (max-width: 680px) {
    .resp-home3{
        display: contents !important;
    }
    .resp-home4{
        display: contents !important;
    }
    .skill-category {
        max-width: 260px;
    }
}
@media screen and (max-width: 678px) {
    .education-entries{
        margin-left: 20px;
    }
}
@media screen and (max-width: 674px) {
    .education-date-short{
        display: inline;
    }
    .education-date-normal{
        display: none;
    }
}
@media screen and (max-width: 635px) {
    .title-name{
        font-size: 50px;
        font-weight: 700;
        line-height: 70px;
        margin-left: 2px;
    }
}
@media screen and (max-width: 606px) {
    .main-screen{
        padding: 0 70px;
    }
    .about-me-container{
        padding: 60px 70px 85px 70px;
    }
    .skills-container{
        padding: 70px 70px 0px 70px;
    }
    .software-container{
        padding: 40px 49.5px 80px 49.5px;
    }
    .home-svg-wrapper{
        width: 100%;
    }
    .education-container{
        padding: 60px 70px 85px 70px;
    }
}
@media screen and (max-width: 575px) {
    .education-entry-logo{
        display: none;
    }
    .education-entry-text-wrapper{
        margin-left: 6px !important;
    }
}
@media screen and (max-width: 570px) {
    .scroll-down-container{
        top: calc(100% - 180px);
    }
}
@media screen and (max-width: 530px) {
    .home-left{
        height: 53%;
    }
    .home-right{
        height: 47%;
    }
}
@media screen and (max-width: 492px) {
    .education-date-short{
        max-width: 89px;
    }
    .education-location{
        max-width: 89px;
    }
}
@media screen and (max-width: 484px) {
    .education-entry-name{
        font-size: 18px !important;
    }
}
@media screen and (max-width: 478px) {
    .title-name{
        font-size: 45px;
        font-weight: 700;
        line-height: 45px;
    }
    .header {
        font-size: 26px;
    }
    .main-screen{
        padding: 0 60px;
    }
    .about-me-container{
        padding: 60px 60px 85px 60px;
    }
    .skills-container{
        padding: 70px 60px 0px 60px;
    }
    .software-container{
        padding: 40px 39.5px 80px 39.5px;
    }
    .education-container{
        padding: 60px 60px 85px 60px;
    }
}
@media screen and (max-width: 442px) {
    .education-timeline-year{
        transform: rotate(-90deg);
        margin-left: -12px;

    }
    .education-timeline-line{
        margin-left: 0;
    }
}
@media screen and (max-width: 425px) {
    .main-screen{
        padding: 0 50px;
    }
    .about-me-container{
        padding: 60px 50px 85px 50px;
    }
    .skills-container{
        padding: 70px 50px 0px 50px;
    }
    .software-container{
        padding: 40px 29.5px 80px 29.5px;
    }
    .education-container{
        padding: 60px 50px 85px 50px;
    }
}
@media screen and (max-width: 406px) {
    .title-name{
        font-size: 40px;
        font-weight: 700;
        line-height: 40px;
    }
    .main-screen{
        padding: 0 40px;
    }
    .about-me-container{
        padding: 60px 40px 85px 40px;
    }
    .skills-container{
        padding: 70px 40px 0px 40px;
    }
    .software-container{
        padding: 40px 19.5px 80px 19.5px;
    }
    .education-container{
        padding: 60px 40px 85px 40px;
    }
}
@media screen and (max-width: 350px) {
    .scroll-down-container{
        display: none;
    }
}
@media screen and (max-width: 344px) {
    #education-timeline-year-2025 {
        margin-bottom: 140px !important;
    }
}
@media screen and (max-width: 338px) {
    #education-timeline-year-2025 {
        margin-bottom: 160px !important;
    }
}