.grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: calc(100vh - 320px);
    margin-bottom: 30px;
}
.grid {
    height: 100%;
    padding: 100px 10px 0 10px;
    max-width: 1780px;
    width: fit-content;

    gap: 10px;

    display: flex;
    flex-wrap: nowrap;
    margin: 0 20px;
}
.grid-column {
    text-align: center;
    font-size: 30px;

    display: flex;
    flex-direction: column;
    gap: 10px;

    width: fit-content;
}
.project-thumb-container{
    min-height: 50px;
    /*background-color: #dadada;*/
    background-color: #252525;
    border-radius: 12px;
    overflow: hidden;
    outline: 4px solid transparent;
    transition: 100ms;
    cursor: pointer;
    user-select: none;
    position: relative;
    opacity: 0;

    max-width: 580px;
}
.project-thumb-container:hover{
    /*outline: 4px solid #969696;*/
    outline: 4px solid #696969;
    transition: 100ms;
}
.project-thumb-container:hover .project-thumb-info-container{
    opacity: 1;
    transition: all 100ms;
    backdrop-filter: blur(25px);
}
.project-thumb-info-container{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(36, 36, 36, 0.55);
    backdrop-filter: blur(0px);
    top: calc(100% - 50px);
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 100ms;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
}
.project-thumb-info-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project-thumb-info-title{
    font-weight: 500;
    font-size: 18px;
    color: #efefef;
}
.project-thumb-info-sub{
    font-size: 16px;
    color: #b3b3b3;
    font-weight: 500;
    line-height: 1px;
}
.project-thumb-info-sub.one{
    padding-left: 20px;
}
.td-project-slide1{
    display: flex;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 400ms;
}
.td-project-image-wrapper{
    display: flex;
    height: calc(100vh - 80px - 20px);
    justify-content: center;
    align-items: center;
}
.td-project-image{
    width: 100%;
    border-radius: 8px;
}

.photography-folder-nav-container{
    display: grid;
    grid-template-columns: 1fr auto 1fr;
}
.photography-nav-grid-1{
    display: flex;
    align-items: center;
    justify-content: end;
}
.photography-nav-grid-2{
    display: flex;
    align-items: center;
    justify-content: center;
    width: fit-content;
}
.photography-nav-grid-3{
    display: flex;
    align-items: center;
    justify-content: start;
    padding-left: 16px;
}

#photography-album-name{
    font-size: 16px;
    font-weight: 600;
    color: #e6e6e6;
    text-align: center;
    pointer-events: none;
    white-space: nowrap;
    margin: 0 68px;
    display: grid;
}
#photography-album-date{
    font-size: 16px;
    font-weight: 600;
    color: #e6e6e6;
    text-align: center;
    pointer-events: none;
    white-space: nowrap;
    display: grid;
}
.photography-album-name-g1{
    display: flex;
    justify-content: end;
}
.photography-album-name-g3{
    display: flex;
    justify-content: start;
}




.project-link-button-container{
    width: 100%;
    padding: 20px;
    padding-bottom: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.project-link-button{
    display: flex;
    align-items: center;
    height: 56px;
    /*background-color: #dadada;*/
    background-color: #252525;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
    transition-duration: 200ms;
}
.project-link-button:hover{
    /*background-color: #cfcfcf;*/
    background-color: #303030;
    transition-duration: 200ms;
}
.project-link-button:hover .project-link-button-ext::before{
    opacity: 1;
    transition-duration: 200ms;
}
.project-link-button:hover .project-link-button-svg{
    /*stroke: #c8c8c8;*/
    stroke: #373737;
    transition-duration: 200ms;
}
.project-link-button-label{
    font-weight: 500;
    padding: 0 14px 0px 20px;
    pointer-events: none;
}
.project-link-button-ext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    /*background-color: #c8c8c8;*/
    background-color: #373737;
    height: 44px;
    width: 44px;
    border-radius: 12px;
    margin-right: 6px;
    margin-left: 6px;
    transition-duration: 200ms;
    z-index: 1;
}
.project-link-button-ext::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    /*background: #696969;*/
    background: #969696;
    z-index: -1;
    opacity: 0;
    transition-duration: 200ms;
    border-radius: 12px;
}
.project-link-button-svg{
    transition-duration: 200ms;
}

/* fullscreen view */
.project-fullscreen-view{
    /*background-color: #e6e6e6;*/
    background-color: #101010;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 70;
    
    overflow: hidden;
    opacity: 0;
    pointer-events: none;
    transition: all 200ms;
    padding: 80px;
}
.project-fullscreen-image-wrapper{
    user-select: none;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;

    transform-origin: -80px -80px;
    transform: scale(1) translate(0px, 0px);
    cursor: grab;
}
.project-fullscreen-image{
    object-fit: contain;
    max-width: 100%;
    height: fit-content;
    max-height: 100%;
    border-radius: 9px;

    transform-origin: 0px 0px;
    transform: scale(1) translate(0px, 0px);

    image-rendering: optimizeSpeed;             /* STOP SMOOTHING, GIVE ME SPEED  */
    image-rendering: -moz-crisp-edges;          /* Firefox                        */
    image-rendering: -o-crisp-edges;            /* Opera                          */
    image-rendering: -webkit-optimize-contrast; /* Chrome (and eventually Safari) */
    image-rendering: optimizeQuality;                 /* Universal support since 2021   */
    image-rendering: optimize-contrast;         /* CSS3 Proposed                  */
    -ms-interpolation-mode: nearest-neighbor;   /* IE8+                           */
}
.project-fullscreen-menu{
    /*background-color: #dedede;*/
    background-color: #212121;
    border-radius: 22px;
    position: absolute;
    bottom: 22px;
    right: 22px;
    display: flex;
    flex-direction: column;
}
.project-fullscreen-menu.two{
    width: auto;
    bottom: 117px;
}
.project-fullscreen-menu-row{
    display: flex;
    flex-direction: row;
    margin: 19px 22px 19px 21px;
}
.p-f-m-r-column{
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-left: 10px;
    font-weight: 500;
    line-height: 21px;
    /*color: #696969;*/
    color: #969696;
}
.project-link-button-light{
    display: flex;
    align-items: center;
    height: 56px;
    /*background-color: #d2d2d2;*/
    background-color: #2d2d2d;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
    transition-duration: 200ms;
    width: fit-content;
}
.project-link-button-light:hover{
    /*background-color: #c8c8c8;*/
    background-color: #373737;
    transition-duration: 200ms;
}
.project-link-button-light:hover .project-link-button-ext::before{
    opacity: 1;
    transition-duration: 200ms;
}
.project-link-button-light:hover .project-link-button-svg{
    /*stroke: #c8c8c8;*/
    stroke: #373737;
    transition-duration: 200ms;
}


/* responsivity */

.grid-column:empty{
    margin-left: -10px;
}

@media screen and (max-width: 1834px) {
    .grid {
        padding: 95px 10px 0 10px;
    }
}
@media screen and (max-width: 1279px) {
    .grid{
        padding: 100px 10px 0 10px;
        max-width: 1180px;
    }
}
@media screen and (max-width: 1222px) {
    .grid {
        padding: 95px 10px 0 10px;
    }
}
@media screen and (max-width: 899px) {
    .grid{
        padding: 100px 10px 0 10px;
        max-width: 580px;
    }
}
@media screen and (max-width: 797px) {
    #photography-album-name{
        margin: 0 46px;
    }
    .photography-nav-grid-3{
        padding-left: 0px;
    }
}
@media screen and (max-width: 694px) {
    #photography-album-date{
        display: none;
    }
    .project-link-button-label{
        display: none;
    }
}
@media screen and (max-width: 622px) {
    .grid {
        padding: 95px 10px 0 10px;
    }
}
@media screen and (max-width: 554px) {
    #photography-album-name{
        margin: 0 34px;
    }
}
@media screen and (max-width: 489px) {
    #photography-album-name{
        margin: 0 28px;
    }
}
@media screen and (max-width: 440px) {
    .photography-nav-grid-3{
        display: none;
    }
    #photography-folder-nav-container{
        margin-left: 24px !important;
        width: stretch;
        width: -moz-available;
        width: -webkit-fill-available;
    }
    .photography-folder-nav-container{
        grid-template-columns: 1fr auto 0fr;
    }
}
@media screen and (max-width: 420px) {
    .photography-nav-grid-2{
        display: none;
    }
    .project-link-button-label{
        display: block;
    }
    #photography-folder-nav-container{
        margin-left: 34px !important;
        margin-right: 0px;
    }
}
@media screen and (max-width: 399px) {
    .photography-nav-grid-2{
        display: flex;
    }
    #photography-album-name {
        margin: 0 24px;
    }
    .project-link-button-label{
        display: none;
    }
    .photography-album-name-g1{
        text-wrap: wrap;
        line-height: 22px;
    }
    #photography-folder-nav-container{
        margin-left: 14px !important;
    }
}
@media screen and (max-width: 380px) {
    #photography-folder-nav-container{
        margin-left: 0px !important;
        margin-right: 0px;
        width: stretch;
        width: -moz-available;
        width: -webkit-fill-available;
        display: flex;
        justify-content: center;
    }
    .photography-album-name-g1{
        text-align: start;
    }
    #photography-album-name{
        margin-right: 0px;
        margin-left: 12px;
    }
    #fotobr1{
        display: block !important;
    }
}