.grid-container {
    display: flex;
    width: 100%;
    justify-content: center;
    min-height: calc(100vh - 320px);
    margin-bottom: 20px;
}
.grid {
    display: flex;
    height: 100%;
    padding: 0 10px;
}
.grid-column {
    text-align: center;
    font-size: 30px;
    padding: 80px 10px 0 10px;
}
.project-thumb-container{
    width: 360px;
    min-height: 100px;
    background-color: #252525;
    border-radius: 18px;
    margin: 20px 0;
    outline: 4px solid transparent;
    transition: 100ms;
    cursor: pointer;
    user-select: none;
    position: relative;
    opacity: 0;
}
.project-thumb-container img{
    border-radius: 17px;
}
.project-thumb-container:hover{
    outline: 4px solid #696969;
    transition: 100ms;
}
.project-thumb-container:hover .project-thumb-info-container{
    opacity: 1;
    transition: all 100ms;
    backdrop-filter: blur(25px);
}
.project-thumb-info-container{
    position: absolute;
    width: 100%;
    height: 50px;
    background-color: rgba(36, 36, 36, 0.5);
    backdrop-filter: blur(0px);
    top: calc(100% - 50px);
    left: 0;
    pointer-events: none;
    opacity: 0;
    transition: all 100ms;
    display: flex;
    align-items: center;
    padding: 0 20px;
    justify-content: space-between;
    border-bottom-left-radius: 18px;
    border-bottom-right-radius: 18px;
}
.project-thumb-info-one{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.project-thumb-info-title{
    font-weight: 500;
    font-size: 18px;
}
.project-thumb-info-sub{
    font-size: 16px;
    color: #969696;
    font-weight: 500;
    line-height: 1px;
}
.project-thumb-info-sub.one{
    padding-left: 20px;
}
.td-project-slide1{
    display: flex;
    width: 100%;
    margin-top: 80px;
    flex-direction: column;
    overflow: hidden;
    transition-duration: 400ms;
}
.td-project-image-wrapper{
    display: flex;
    height: calc(100vh - 80px - 20px);
    justify-content: center;
    align-items: center;
    padding: 10px 0;
}
.td-project-image{
    max-width: 100%;
    max-height: 100%;
    border-radius: 8px;
}



/* responsivity */

@media screen and (max-width: 1184px) {
    .grid-container{
        justify-content: center;
    }
    .grid{
        flex-wrap: wrap;
        margin-top: 80px;
    }
    .grid-column{
        padding: 0px 10px 0 10px;
    }
}
@media screen and (max-width: 1159px) {
    .grid{
        max-width: 780px;
    }
}
@media screen and (max-width: 779px) {
    .grid{
        max-width: 380px;
        margin-right: 21px;
    }
}
@media screen and (max-width: 400px) {
    .grid{
        transform: scale(0.9);
        transform-origin: top;
        margin-top: 70px;
    }
    .grid-container{
        margin-bottom: -36px;
    }
}
@media screen and (max-width: 1450px) {
    .td-project-slide1{
        margin-top: 20px;
    }
}
@media screen and (max-width: 1180px) {
    /*.td-project-slide1{
        margin-top: 0px;
    }*/
    .td-project-image-wrapper {
        height: calc(100vh - 80px - 98px );
        margin-bottom: 77px;
    }
}
@media screen and (max-width: 600px) {
    .td-project-image{
        transform: scale(1.06);
    }    
    .td-project-slide1{
        overflow: visible;
    }
}