RewriteEngine on
# RewriteCond %{HTTP_HOST} !^www\.
# RewriteRule ^(.*)$ https://www.%{HTTP_HOST}%{REQUEST_URI} [L,R=301]

RewriteCond %{HTTP:X-Forwarded-Proto} !https
RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [R=301,L]
RewriteRule ^nejaky-pekny-text /content.php
RewriteRule ^video/(.*)$ ./video.php?id=$1 [QSA]
RewriteRule ^projects ./projects.html
RewriteRule ^test ./test.php