.unageo-nav {
    height: 110px;
    margin-top: 80px;
    backdrop-filter: blur(20px);
    width: 100%;
    max-width: 1200px;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: space-between;
}
.unageo-nav-left{
    display: flex;
    flex-direction: row;
}
.unageo-rows{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 190px;
    max-width: 1200px;
}
.unageo-row{
    display: flex;
    width: 100%;
    height: 300px;
    flex-direction: row;
}
.unageo-intro-title{
    width: 310px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    font-family: Unageo-vf !important;
}
.unageo-intro-text{
    width: calc(100% - 310px);
    padding: 22px 0 20px 40px;
    font-family: Unageo-vf;
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
}