.contact-left{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 740px);
}
.contact-title{
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    background: rgb(3,92,226);
    background: linear-gradient(206deg, rgba(3,92,226,1) 0%, rgba(13,197,248,1) 100%);
    -webkit-background-clip: text;
    Background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 140px;
    margin-left: 120px;
    opacity: 0;
}
.contact-desc-title{
    font-weight: 600;
    font-size: 18px;
    color: #969696;
    margin-left: 124px;
    margin-top: 6px;
    opacity: 0;
}
.contact-desc-email{
    font-weight: 600;
    font-size: 44px;
    line-height: 50px;
    color: #cccccc;
    margin-left: 122px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: color 200ms;
    width: fit-content;
}
.contact-desc-email:hover{
    color: #969696;
}
.contact-desc-email:active{
    color: #b3b3b3;
}
.contact-social-container{
    display: flex;
    flex-direction: row;
    margin-left: 124px;
    margin-top: 12px;
}
.contact-s-title{
    font-size: 32px;
    color: #b3b3b3;
    margin-left: 123px;
    margin-top: 64px;
    font-weight: 600;
    margin-bottom: 8px;
}
.contact-github{
    display: flex;
    flex-direction: row;
    margin-left: 124px;
    background-color: #252525;
    padding: 24px;
    width: fit-content;
    margin-top: 26px;
    margin-bottom: 80px;
    border-radius: 20px;
    opacity: 0;
    width: 0;
}

.contact-right{
    display: flex;
    width: 740px;
    height: 100vh;
    background-color: #101010;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    overflow: hidden;
}



.project-link-button{
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #252525;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
    margin-right: 10px;
    transition: all 200ms, opacity 0ms, transform 0ms;
    opacity: 0;
}
.project-link-button:hover{
    background-color: #303030;
    transition: all 200ms, opacity 0ms, transform 0ms;
}
.project-link-button:hover .project-link-button-ext::before{
    opacity: 1;
    transition: all 200ms, transform 0ms;
}
.project-link-button:hover .project-link-button-svg{
    fill: #373737;
    transition: all 200ms, opacity 0ms, transform 0ms;
}
.project-link-button-label{
    font-weight: 500;
    padding: 0 14px 0px 20px;
    pointer-events: none;
}
.project-link-button-ext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: #373737;
    height: 44px;
    width: 44px;
    border-radius: 12px;
    margin-right: 6px;
    margin-left: 6px;
    transition: all 200ms, transform 0ms;
    z-index: 1;
}
.project-link-button-ext::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #969696;
    z-index: -1;
    opacity: 0;
    transition: all 200ms, transform 0ms;
    border-radius: 14px;
}
.project-link-button-svg{
    transition: all 200ms, opacity 0ms, transform 0ms;
}



.unageo-smallbutton{
    padding: 8px 10.5px;
    background-color: #343434;
    border-radius: 12px;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    transition-duration: 200ms;
    color: #cccccc;
}
.unageo-smallbutton:hover{
    background-color: #3c3c3c;
}
.unageo-smallbutton:active{
    background-color: #2d2d2d;
}



#cbd1, #cbd2, #plb1, #wst1, #cge1, #cge2{
    opacity: 0;
}