.contact-left{
    display: flex;
    flex-direction: column;
    width: calc(100vw - 740px);
}
.contact-title{
    font-size: 75px;
    font-weight: 700;
    line-height: 100px;
    background: rgb(3,92,226);
    background: linear-gradient(206deg, rgba(3,92,226,1) 0%, rgba(13,197,248,1) 100%);
    -webkit-background-clip: text;
    Background-clip: text;
    -webkit-text-fill-color: transparent;
    margin-top: 140px;
    margin-left: 120px;
    opacity: 0;
}
.contact-desc-title{
    font-weight: 600;
    font-size: 18px;
    color: #969696;
    margin-left: 124px;
    margin-top: 6px;
    opacity: 0;
    max-width: 810px;
}
.contact-desc-email{
    font-weight: 600;
    font-size: 44px;
    line-height: 50px;
    color: #cccccc;
    margin-left: 122px;
    margin-bottom: 14px;
    display: flex;
    align-items: center;
    cursor: pointer;
    user-select: none;
    transition: color 200ms;
    width: fit-content;
}
.contact-desc-email:hover{
    color: #969696;
}
.contact-desc-email:active{
    color: #b3b3b3;
}
.contact-social-container{
    display: flex;
    flex-direction: row;
    margin-left: 124px;
    margin-top: 12px;
}
.contact-s-title{
    font-size: 32px;
    color: #b3b3b3;
    margin-left: 123px;
    margin-top: 64px;
    font-weight: 600;
    margin-bottom: 8px;
}
.contact-github{
    display: flex;
    flex-direction: row;
    margin-left: 124px;
    background-color: #252525;
    padding: 24px;
    width: fit-content;
    margin-top: 36px;
    margin-bottom: 80px;
    border-radius: 20px;
    opacity: 0;
    width: 0;
}

.contact-right{
    display: flex;
    width: 740px;
    height: 100vh;
    background-color: #101010;
    position: fixed;
    justify-content: center;
    align-items: center;
    right: 0;
    overflow: hidden;
}



.project-link-button{
    display: flex;
    align-items: center;
    height: 56px;
    background-color: #252525;
    border-radius: 16px;
    user-select: none;
    cursor: pointer;
    margin-right: 10px;
    transition: all 200ms, opacity 0ms, transform 0ms;
    opacity: 0;
}
.project-link-button:hover{
    background-color: #303030;
    transition: all 200ms, opacity 0ms, transform 0ms;
}
.project-link-button:hover .project-link-button-ext::before{
    opacity: 1;
    transition: all 200ms, transform 0ms;
}
.project-link-button:hover .project-link-button-svg{
    fill: #373737;
    transition: all 200ms, opacity 0ms, transform 0ms;
}
.project-link-button-label{
    font-weight: 500;
    padding: 0 14px 0px 20px;
    pointer-events: none;
}
.project-link-button-ext{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    pointer-events: none;
    background-color: #373737;
    height: 44px;
    width: 44px;
    border-radius: 12px;
    margin-right: 6px;
    margin-left: 6px;
    transition: all 200ms, transform 0ms;
    z-index: 1;
}
.project-link-button-ext::before {
    position: absolute;
    content: '';
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: #969696;
    z-index: -1;
    opacity: 0;
    transition: all 200ms, transform 0ms;
    border-radius: 14px;
}
.project-link-button-svg{
    transition: all 200ms, opacity 0ms, transform 0ms;
}



.unageo-smallbutton{
    padding: 8px 10.5px;
    background-color: #343434;
    border-radius: 12px;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-weight: 500;
    margin-right: 10px;
    transition-duration: 200ms;
    color: #cccccc;
}
.unageo-smallbutton:hover{
    background-color: #3c3c3c;
}
.unageo-smallbutton:active{
    background-color: #2d2d2d;
}



#cbd1, #cbd2, #plb1, #wst1, #cge1, #cge2{
    opacity: 0;
}



/* responsiveness */

.contact-artwork-img2{
    display: none;
}
.resp-contactcorrector{
    display: contents;
}
.resp-contactcorrector2{
    margin-top: auto;
    display: none;
}

@media screen and (max-width: 1680px) {
    .contact-desc-title {
        max-width: 700px;
    }
}
@media screen and (max-width: 1600px) {
    .contact-right {
        max-width: 640px;
    }
    .contact-left{
        width: calc(100vw - 640px);
    }
}
@media screen and (max-width: 1500px) {
    .contact-right {
        max-width: 540px;
        align-items: end;
    }
    .contact-artwork-img{
        height: 90vh !important;
    }
    .contact-left{
        width: calc(100vw - 540px);
    }
}
@media screen and (max-width: 1390px) {
    .contact-artwork-img2{
        display: block;
    }
    .contact-artwork-img{
        display: none;
    }
    .contact-right {
        max-width: 440px;
        align-items: center;
    }
    .contact-artwork-img2{
        height: 80vh !important;
    }
    .contact-left{
        width: calc(100vw - 440px);
    }
}
@media screen and (max-width: 1290px) {
    .contact-right {
        max-width: 400px;
    }
    .contact-artwork-img2{
        height: 70vh !important;
    }
    .contact-left{
        width: calc(100vw - 400px);
    }
}
@media screen and (max-width: 1250px) {
    .contact-right {
        max-width: 370px;
    }
    .contact-artwork-img2{
        height: 65vh !important;
    }
    .contact-left{
        width: calc(100vw - 370px);
    }
}
@media screen and (max-width: 1220px) {
    .contact-right {
        display: none;
    }
    .contact-left{
        width: 100vw;
        align-items: center;
    }
    .content-container{
        display: flex;
        justify-content: center;
    }
    .contact-left * {
        margin-left: 0;
        
    }
    .resp-contactcorrector{
        display: flex;
        flex-direction: column;
        margin: 0px 80px;
    }
    .footer-center{
        margin-left: 80px;
    }
}
@media screen and (max-width: 800px) {
    .contact-social-container{
        flex-wrap: wrap;
        max-width: 340px;
        min-height: 132px;
        align-items: stretch;
    }
    .contact-desc-email{
        display: flex;
        flex-direction: column;
        align-items: start;
    }
    #langs-contact-copy{
        margin-left: 0px !important;
        margin-top: -4px !important;
    }
    .contact-s-title{
        margin-top: 40px;
    }
}
@media screen and (max-width: 686px) {
    #cge1{
        display: none;
    }
    .resp-contact1{
        display: none;
    }
    .contact-github{
        width: fit-content !important;
    }
}
@media screen and (max-width: 650px) {
    .footer-center{
        margin-left: 0px !important;
    }
}
@media screen and (max-width: 620px) {
    .contact-title{
        font-size: 65px;
    }
    .contact-desc-email{
        font-size: 36px;
        margin-top: -5px;
    }
    #langs-contact-copy{
        font-size: 16px !important;
        line-height: 32px !important;
    }
    #wst2{
        font-size: 16px !important;
    }
    #wst3{
        font-size: 16px !important;
    }
    .contact-title{
        margin-top: 130px;
    }
}
@media screen and (max-width: 606px) {
    .resp-contactcorrector{
        margin: 0 70px;
    }
}
@media screen and (max-width: 590px) {
    .resp-contact2{
        font-size: 16px !important;
        margin-bottom: -1px !important;
    }
    .contact-title{
        margin-top: 120px;
    }
}
@media screen and (max-width: 516px) {
    .contact-title{
        font-size: 60px;
    }
    .contact-desc-email{
        font-size: 32px;
        margin-top: -5px;
    }
    .resp-contact2{
        font-size: 14.8px !important;
    }
    .contact-github{
        padding-right: 14px;
        padding-top: 20px;
    }
    .contact-title{
        margin-top: 110px;
    }
}
@media screen and (max-width: 488px) {
    .resp-contactcorrector{
        margin: 0 60px;
    }
    .contact-title{
        margin-top: 100px;
    }
    .contact-github{
        margin-bottom: 60px;
    }
}
@media screen and (max-width: 468px) {
    .contact-title{
        font-size: 55px;
    }
    .unageo-smallbutton{
        font-size: 13px !important;
    }
    .resp-contact2{
        font-size: 14px !important;
    }
}
@media screen and (max-width: 454px) {
    .contact-desc-email{
        font-size: 30px;
    }
}
@media screen and (max-width: 449px) {
    .resp-contactcorrector{
        margin: 0 50px;
    }
    .contact-title{
        margin-top: 90px;
    }
}
@media screen and (max-width: 429px) {
    .project-link-button-label{
        font-size: 15px;
    }
    #wst2{
        font-size: 15px !important;
    }
    #wst3{
        font-size: 15px !important;
    }
    .unageo-smallbutton{
        font-size: 12px !important;
    }
    .resp-contact2{
        font-size: 13px !important;
    }
}
@media screen and (max-width: 421px) {
    .project-link-button-label{
        font-size: 14px;
        margin-bottom: 1px;
    }
}
@media screen and (max-width: 416px) {
    .contact-title{
        text-wrap: nowrap;
        margin-top: 75px;
    }
    .contact-github{
        margin-bottom: 45px;
    }
}

@media screen and (min-height: 1184px) {
    .contact-left{
        min-height: 100vh !important;
    }
    .resp-contactcorrector2{
        display: block;
    }
}