@charset "UTF-8";
*,::after,::before{
    box-sizing:border-box
}
a{
    text-decoration: none;
    cursor: pointer;
}
body{
    margin:0;
    font-size: 16px;
    font-weight:400;
    line-height:1.5;
    -webkit-text-size-adjust:100%;
    -webkit-tap-highlight-color: transparent;
    display: flex;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    text-rendering: optimizeLegibility;
}
html{
    overflow: overlay;
}
html, body {
    height: fit-content;
    padding: 0;
}
@media (prefers-reduced-motion:no-preference){
    :root{
        scroll-behavior:smooth
    }
}
[role=button],[type=button]:not(:disabled),[type=reset]:not(:disabled),[type=submit]:not(:disabled),button:not(:disabled),summary{
    cursor:pointer
}
img,svg{
    vertical-align:middle
}
button,input{
    margin:0;
    outline: none;
    font-size:inherit;
    line-height:inherit
}
h4,h3{
    font-weight: 500;
}