.pbzsk-project-slide1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 80px;
    flex-direction: row;
    width: 100%;
}



/*   Responsive   */

.zelenaskola-mobile{
    display: none;
    max-height: 74vh;
}

@media screen and (max-width: 620px) {
    .zelenaskola-mobile{
        display: block;
    }
    .zelenaskola-desktop{
        display: none;
    }
}