.unageo-nav {
    height: 190px;
    padding-top: 80px;
    backdrop-filter: blur(30px);
    -webkit-backdrop-filter: blur(30px);
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    position: fixed;
    justify-content: center;
    z-index: 20;
    transition-duration: 300ms;
}
.unageo-nav-content{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    width: 100%;
}
.unageo-nav-left{
    display: flex;
    flex-direction: row;
}
.unageo-github{
    cursor: pointer;
    filter: brightness(90%);
    transition-duration: 200ms;
    margin: 9px 14px;
}
.unageo-github:hover{
    filter: brightness(110%);
    transition-duration: 200ms;
}
.unageo-github:active{
    filter: brightness(120%);
    transition-duration: 200ms;
}
.unageo-rows{
    display: flex;
    flex-direction: column;
    width: 100%;
    padding-top: 200px;
    max-width: 1200px;
}
.unageo-row{
    display: flex;
    width: 100%;
    flex-direction: row;
}
.unageo-intro-title{
    width: 310px;
    display: flex;
    flex-direction: column;
    padding: 20px 10px;
    font-family: Unageo-vf !important;
}
.unageo-intro-text{
    width: calc(100% - 310px);
    padding: 22px 0 20px 40px;
    font-family: Unageo-vf;
    font-size: 28px;
    line-height: 42px;
    font-weight: 400;
}
.unageo-intro-waterfall{
    width: 426px;
    overflow: hidden;
    padding: 20px 0 20px 10px;
    font-family: Unageo-vf;
    text-wrap: nowrap;
}
.unageo-intro-letters{
    overflow: hidden;
    padding: 20px 10px 20px 10px;
    font-family: Unageo-vf;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 85%;
}
.unageo-intro-num{
    width: 250px;
    overflow: hidden;
    padding: 20px 0 20px 10px;
    font-family: Unageo-vf;
    display: flex;
    align-items: center;
    flex-direction: column;
    opacity: 70%;
}
.unageo-var-container{
    width: 99%;
    background-color: rgba(255, 255, 255, 0.03);
    border-radius: 26px;
    margin-top: 30px;
    font-family: Unageo-vf;
    padding: 26px;
}
.unageo-var-controls-container{
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 94px;
}
.unageo-var-control{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-left: 12px;
}
.unageo-var-slider-wrapper{
    display: flex;
    flex-direction: row;
}
.unageo-var-num{
    height: 42px;
    width: 72px;
    background-color: rgba(255, 255, 255, 0.08);
    color: #cccccc;
    border: 0;
    padding-left: 12px;
    padding-right: 6px;
    border-radius: 14px 8px 8px 14px;
    font-family: Unageo-vf;
}
.unageo-var-numselector-wrapper{
    display: flex;
    position: relative;
    justify-content: flex-end;
    align-items: center;
}
.unageo-var-num {
    -webkit-appearance: textfield;
       -moz-appearance: textfield;
            appearance: textfield;
}
.unageo-var-num::-webkit-inner-spin-button, 
.unageo-var-num::-webkit-outer-spin-button { 
    -webkit-appearance: none;
}
.unageo-var-numselector-button-container{
    position: absolute;
}
.unageo-var-numselector-button{
    width: 17px;
    height: 16px;
    background-color: rgba(255, 255, 255, 0.12);;
    margin-right: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #cccccc;
    font-family: Unageo-vf;
    user-select: none;
    cursor: pointer;
    border-radius: 4px;
}
.unageo-var-numselector-button:hover{
    background-color: rgba(255, 255, 255, 0.18);;
}
.unageo-var-numselector-button:active{
    background-color: rgba(255, 255, 255, 0.24);;
}
.unageo-var-varslider-wrapper{
    margin-left: 3px;
    width: 230px;
    height: 42px;
    border-radius: 8px 14px 14px 8px;
    background-color: rgba(255, 255, 255, 0.08);
    display: flex;
    justify-content: center;
    align-items: center;
}
.unageo-var-varslider {
    -webkit-appearance: none;
    width: 200px;
    height: 6px;
    border-radius: 5px;  
    background: rgba(255, 255, 255, 0.2);
    outline: none;
}
.unageo-var-varslider::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 30px;
    height: 20px;
    border-radius: 20px; 
    background: #0068ff;
    cursor: pointer;
}
.unageo-var-varslider.two::-webkit-slider-thumb {
    background: #007eff;
}
.unageo-var-varslider.three::-webkit-slider-thumb {
    background: #0095ff;
}
.unageo-var-varslider.four::-webkit-slider-thumb {
    background: #00acff;
}
.unageo-var-varslider::-moz-range-thumb {
    width: 30px;
    height: 20px;
    border-radius: 20px; 
    background: #969696;
    cursor: pointer;
}
.Unageo-fonttestfield{
    width: 100%;
    height: auto;
    border-radius: 10px;
    border: 0;
    padding: 24px;
    outline: none;
    font-family: Unageo-vf;
    resize: vertical;
    margin-top: 22px;
    background-color: rgba(255, 255, 255, 0.05);
    max-height: 240px;
    min-height: 120px;
    color: #e6e6e6;
    margin-bottom: -5px;
    font-feature-settings: inherit;

    font-size: 32px;
    line-height: 1.1;
    font-weight: 400;
}
.unageo-scripts-left{
    padding: 40px 30px 40px 10px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.unageo-scripts-right{
    padding: 40px 10px 40px 30px;
    width: 50%;
    display: flex;
    flex-direction: column;
}
.unageo-scripts-title{
    font-family: Unageo-vf;
    font-size: 28px;
    font-weight: 500;
}
.unageo-scripts-subtitle{
    font-family: Unageo-vf;
    font-size: 24px;
    font-weight: 500;
    opacity: 40%;
    margin-left: 10px;
}
.unageo-scripts-desc{
    font-family: Unageo-vf;
    font-weight: 450;
    opacity: 60%;
}
.unageo-scripts-descb{
    font-family: Unageo-vf;
    font-weight: 500;
    opacity: 90%;
}
.unageo-scripts-pangram{
    margin-top: 16px;
    font-family: Unageo-vf;
    font-size: 22px;
    font-weight: 400;
    opacity: 90%;
    line-height: 28px;
}
.unageo-scripts-chars{
    margin-top: 24px;
    font-size: 16px;
    line-height: 18px;
    font-weight: 400;
    opacity: 80%;
    font-family: Unageo-vf;
}
.unageo-row-title{
    margin-left: 8px;
    margin-top: 20px;
    margin-bottom: 18px;
    font-size: 28px;
    font-family: Unageo-vf;
    font-weight: 500;
}
.unageo-story-textsection{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
}
.unageo-story-par{
    display: flex;
    flex-direction: column;
}
.unageo-story-text{
    padding: 12px 10px;
    font-family: Unageo-vf;
    font-weight: 450;
    color: #cccccc;
    line-height: 1.46;
}
.unageo-github-text{
    width: 560px;
    margin-left: 10px;
    margin-top: 10px;
    font-family: Unageo-vf;
    font-weight: 500;
    color: #cccccc;
    opacity: 80%;
    font-size: 18px;
    line-height: 1.4;
}
.unageo-bottom-links-container{
    display: flex;
    flex-direction: column;
    margin-left: auto;
    justify-content: center;
}
.unageo-bottom-links-download{
    display: flex;
    flex-direction: row;
    align-items: center;
}
.unageo-smallbutton{
    padding: 8px 10.5px;
    background-color: #1e1e1e;
    border-radius: 12px;
    user-select: none;
    cursor: pointer;
    margin-top: 10px;
    font-size: 14px;
    font-family: Unageo-vf;
    font-weight: 500;
    margin-right: 10px;
    transition-duration: 200ms;
}
.unageo-smallbutton:hover{
    background-color: #282828;
}
.unageo-smallbutton:active{
    background-color: #2d2d2d;
}
.unageo-bottom-sources{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: hsl(220deg 9.68% 5.0%);
    background-repeat: repeat;
    background-size: cover;
}
.unageo-row-bottom{
    display: flex;
    width: 100%;
    flex-direction: row;
    flex-direction: column;
    max-width: 1200px;
}
.unageo-opentype{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    gap: 20px 80px;
}
.unageo-ot-container{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: fit-content;
}
.unageo-ot-checkbox{
    width: 26px;
    height: 26px;
    margin-top: 7px;
    margin-left: 7px;
    margin-right: 18px;
    margin-bottom: 6px;
    appearance: none;
    -moz-appearance: none;
    -webkit-appearance: none;
    background-color: transparent;
    border: 2px solid hsl(0, 0%, 30%);
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    transition-duration: 100ms;
    cursor: pointer;
}
.unageo-ot-checkbox:hover{
    border: 2px solid #696969;
    transition-duration: 100ms;
}
.unageo-ot-checkbox::before{
    display: block;
    content: "";
    background-color: #007eff;
    border-radius: 5px;
    width: 16px;
    height: 16px;
    transform: scale(0);
    transition-duration: 100ms;
}
.unageo-ot-checkbox:hover::before{
    background-color: #006bd6;
    transition-duration: 100ms;
}
.unageo-ot-checkbox:checked::before{
    transform: scale(1);
}
.unageo-ot-label{
    font-weight: 450;
    font-size: 18px;
    margin-top: 3px;
}



/*   Responsivity   */

#resp-ug-g1{
    display: none;
}
.resp-ug-varcontrol1{
    flex-wrap: wrap;
    flex-direction: column;
    max-height: 94px;
    display: contents;
}

@media screen and (max-width: 1400px) {
    .unageo-nav-content{
        margin: 0px 40px;
    }
}
@media screen and (max-width: 1280px) {
    #resp-ug-row-1{
        transform: scale(0.9);
        margin: -10px -20px;
        margin-top: -20px;
    }
    .unageo-scripts-chars{
        word-break: break-all;
    }
    #resp-ug-row-scripts{
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    #resp-ug-row-2{
        margin: 0 20px;
        width: calc(100% - 40px);
    }
    #resp-ug-row-3{
        margin: 0 20px;
        width: calc(100% - 40px);
    }
}
@media screen and (max-width: 1250px) {
    .unageo-var-varslider{
        width: 170px;
    }
    .unageo-var-varslider-wrapper{
        width: 200px;
    }
    .unageo-var-container{
        margin: 0 30px;
    }
    #resp-ug-row-scripts{
        margin: 0 40px;
        width: calc(100% - 80px);
    }
    #resp-ug-row-2{
        margin: 0 40px;
        width: calc(100% - 80px);
    }
    #resp-ug-row-3{
        margin: 0 40px;
        width: calc(100% - 80px);
    }
}
@media screen and (max-width: 1190px) {
    #resp-ug-row-1{
        transform: scale(0.8);
        margin: -20px -40px;
        margin-top: -50px;
    }
}
@media screen and (max-width: 1160px) {
    #resp-ug-row-3{
        flex-direction: column !important;
        align-items: center;
    }
    #langs-unageo-ost{
        width: 100%;
        margin-bottom: 50px;
    }
    #resp-ug-space-1{
        height: 10px !important;
    }
    #resp-ug-space-2{
        height: 6px !important;
    }
    .unageo-bottom-links-container{
        margin-left: 0;
    }
}
@media screen and (max-width: 1140px) {
    .unageo-var-varslider{
        width: 150px;
    }
    .unageo-var-varslider-wrapper{
        width: 180px;
    }
}
@media screen and (max-width: 1100px) {
    .unageo-var-varslider{
        width: 100px;
    }
    .unageo-var-varslider-wrapper{
        width: 130px;
    }
    #resp-ug-row-1{
        transform: scale(0.79);
        margin: -20px -75px;
        margin-top: -60px;
    }
}
@media screen and (max-width: 1028px) {
    #resp-ug-row-1{
        transform: scale(0.75);
        margin: -30px -110px;
        margin-top: -70px;
    }
}
@media screen and (max-width: 990px) {
    .unageo-var-varslider{
        width: 80px;
    }
    .unageo-var-varslider-wrapper{
        width: 110px;
    }
}
@media screen and (max-width: 960px) {
    .unageo-var-varslider{
        width: 190px;
    }
    .unageo-var-varslider-wrapper{
        width: 220px;
    }
    .unageo-var-controls-container{
        width: 100%;
        height: 146px;
        flex-direction: row;
    }
    .resp-ug-varcontrol1{
        display: flex;
        width: 100%;
    }
    /*#resp-ug-g1{
        display: block;
    }*/
    #resp-ug-row-1{
        transform: scale(0.7);
        margin: -50px -150px;
        margin-top: -90px;
    }
}
@media screen and (max-width: 930px) {
    .unageo-var-varslider{
        width: 180px;
    }
    .unageo-var-varslider-wrapper{
        width: 210px;
    }
}
@media screen and (max-width: 913px) {
    .unageo-var-varslider{
        width: 170px;
    }
    .unageo-var-varslider-wrapper{
        width: 200px;
    }
}
@media screen and (max-width: 900px) {
    .unageo-var-varslider{
        width: 160px;
    }
    .unageo-var-varslider-wrapper{
        width: 190px;
    }
}
@media screen and (max-width: 874px) {
    .unageo-var-varslider{
        width: 150px;
    }
    .unageo-var-varslider-wrapper{
        width: 180px;
    }
    #resp-ug-row-1{
        transform: scale(0.65);
        margin: -55px -180px;
        margin-top: -95px;
    }
}
@media screen and (max-width: 854px) {
    .unageo-var-varslider{
        width: 140px;
    }
    .unageo-var-varslider-wrapper{
        width: 170px;
    }
}
@media screen and (max-width: 834px) {
    .unageo-var-varslider{
        width: 130px;
    }
    .unageo-var-varslider-wrapper{
        width: 160px;
    }
    #resp-ug-row-1{
        transform: scale(0.6);
        margin: -70px -210px;
        margin-top: -110px;
    }
}
@media screen and (max-width: 814px) {
    .unageo-var-varslider{
        width: 120px;
    }
    .unageo-var-varslider-wrapper{
        width: 150px;
    }
}
@media screen and (max-width: 794px) {
    .unageo-var-varslider{
        width: 110px;
    }
    .unageo-var-varslider-wrapper{
        width: 140px;
    }
}
@media screen and (max-width: 774px) {
    .unageo-var-varslider{
        width: 100px;
    }
    .unageo-var-varslider-wrapper{
        width: 130px;
    }
    #resp-ug-row-1{
        transform: scale(0.55);
        margin: -90px -240px;
        margin-top: -130px;
    }
}
@media screen and (max-width: 754px) {
    .unageo-var-varslider{
        width: 90px;
    }
    .unageo-var-varslider-wrapper{
        width: 120px;
    }
}
@media screen and (max-width: 734px) {
    .unageo-var-varslider{
        width: 80px;
    }
    .unageo-var-varslider-wrapper{
        width: 110px;
    }
}
@media screen and (max-width: 714px) {
    .unageo-var-varslider{
        width: 80px;
    }
    .unageo-var-varslider-wrapper{
        width: 110px;
    }
    .resp-ug-varcontrol1{
        max-height: none;
        margin-bottom: 10px;
    }
    #resp-ug-g1{
        display: block !important;
    }
    #resp-ug-varcontrol2{
        margin-left: 12px !important;
    }
    .unageo-var-varslider{
        width: 200px;
    }
    .unageo-var-varslider-wrapper{
        width: 230px;
    }
    #resp-ug-row-1{
        transform: scale(0.50);
        margin: -100px -270px;
        margin-top: -140px;
    }
    .unageo-nav-content{
        margin-right: 35px;
        margin-left: 24px;
    }
    .unageo-var-controls-container{
        height: fit-content;
    }
}
@media screen and (max-width: 711px) {
    .resp-unageo-ot-1{
        flex-direction: column !important;
    }
    .resp-unageo-ot-2{
        margin-left: 0 !important;
        margin-top: 2px;
    }
}
@media screen and (max-width: 640px) {
    #resp-ug-row-1{
        transform: scale(1);
        margin: 0;
    }
    #resp-ug-row-intro1{
        flex-direction: column;
        align-items: center;
    }
    #resp-ug-row-intro2{
        flex-direction: column;
        align-items: center;
    }
    .unageo-intro-title{
        transform: scale(1.55);
        margin-top: 50px;
        margin-bottom: 60px;
    }
    .unageo-intro-text{
        width: 480px;
        padding: 22px 0 20px 22px;
    }
    #resp-ug-github-nav{
        display: none;
    }
    .unageo-nav-content{
        margin-right: 40px;
        margin-left: 40px;
    }
    .unageo-intro-waterfall{
        padding: 20px 0 20px 10px;
        transform: scale(1.11);
    }
    .unageo-intro-letters{
        padding: 30px 10px 30px 10px;
    }
    .unageo-intro-num{
        transform: scale(1.92);
        padding: 20px 0 20px 5px;
        margin-top: 80px;
        margin-bottom: 120px;
    }
    #resp-ug-row-scripts{
        flex-direction: column;
    }
    .unageo-scripts-left{
        width: auto;
        padding: 20px 10px 20px 10px;
    }
    .unageo-scripts-right{
        width: auto;
        padding: 20px 10px 20px 10px;
    }
    #resp-ug-row-scripts{
        margin: 20px 0px 20px 0px;
        width: 100%;
        padding: 0 50px;
    }
    .unageo-story-textsection{
        flex-direction: column;
    }
    .unageo-story-par{
        width: 100% !important;
    }
    #resp-ug-row-2{
        margin: 0 50px;
        width: calc(100% - 100px);
    }
    #resp-ug-row-3{
        margin: 0 50px;
        width: calc(100% - 100px);
    }
}
@media screen and (max-width: 600px) {
    #resp-ug-g2{
        display: none !important;
    }
}
@media screen and (max-width: 566px) {
    .Unageo-fonttestfield{
        min-height: 152px;
    }
    .unageo-bottom-links-container{
        transform: scale(0.9);
        margin: -10px -30px;
    }
}
@media screen and (max-width: 554px) {
    #unageo-var-varslider3{
        width: 150px;
    }
    #resp-ug-varslider3{
        width: 180px;
    }
    #unageo-var-varslider4{
        width: 150px;
    }
    #resp-ug-varslider4{
        width: 180px;
    }
}
@media screen and (max-width: 534px) {
    #resp-ug-row-1{
        transform: scale(0.9);
        margin-top: -90px;
        margin-bottom: -80px;
    }
}
@media screen and (max-width: 502px) {
    .unageo-bottom-links-container{
        transform: scale(0.85);
        margin: -30px -60px;
    }
    .unageo-smallbutton{
        padding: 10.5px 10.5px;
    }
}
@media screen and (max-width: 484px) {
    #resp-ug-row-1{
        transform: scale(0.8);
        margin-top: -180px;
        margin-bottom: -160px;
    }
}
@media screen and (max-width: 474px) {
    #unageo-var-varslider1{
        width: 190px;
    }
    #resp-ug-varslider1{
        width: 220px;
    }
    #unageo-var-varslider2{
        width: 190px;
    }
    #resp-ug-varslider2{
        width: 220px;
    }
    #unageo-var-varslider3{
        width: 140px;
    }
    #resp-ug-varslider3{
        width: 170px;
    }
    #unageo-var-varslider4{
        width: 140px;
    }
    #resp-ug-varslider4{
        width: 170px;
    }
}
@media screen and (max-width: 477px) {
    .resp-unageo-ot-2{
        font-size: 34px !important;
    }
    .resp-unageo-ot-4{
        font-size: 34px !important;
    }
}
@media screen and (max-width: 474px) {
    .unageo-var-control{
        margin-left: 8px;
    }
    #resp-ug-varcontrol2 {
        margin-left: 8px !important;
    }
}
@media screen and (max-width: 462px) {
    .unageo-bottom-links-container{
        transform: scale(0.75);
        margin: -30px -90px;
    }
}
@media screen and (max-width: 448px) {
    #unageo-var-varslider1{
        width: 170px;
    }
    #resp-ug-varslider1{
        width: 200px;
    }
    #unageo-var-varslider2{
        width: 170px;
    }
    #resp-ug-varslider2{
        width: 200px;
    }
    #unageo-var-varslider3{
        width: 120px;
    }
    #resp-ug-varslider3{
        width: 150px;
    }
    #unageo-var-varslider4{
        width: 120px;
    }
    #resp-ug-varslider4{
        width: 150px;
    }
}
@media screen and (max-width: 441px) {
    .resp-unageo-ot-2{
        font-size: 31px !important;
    }
    .resp-unageo-ot-4{
        font-size: 31px !important;
    }
}
@media screen and (max-width: 421px) {
    #resp-ug-row-1{
        transform: scale(0.70);
        margin-top: -270px;
        margin-bottom: -260px;
    }
    #unageo-var-varslider1{
        width: 150px;
    }
    #resp-ug-varslider1{
        width: 180px;
    }
    #unageo-var-varslider2{
        width: 150px;
    }
    #resp-ug-varslider2{
        width: 180px;
    }
    #unageo-var-varslider3{
        width: 100px;
    }
    #resp-ug-varslider3{
        width: 130px;
    }
    #unageo-var-varslider4{
        width: 100px;
    }
    #resp-ug-varslider4{
        width: 130px;
    }
}
@media screen and (max-width: 415px) {
    .unageo-nav-content{
        transform: scale(0.9);
        margin-right: 44px;
    }
}
@media screen and (max-width: 420px) {
    .resp-unageo-ot-3{
        flex-direction: column !important;
    }
    .resp-unageo-ot-4{
        margin-left: 0 !important;
        margin-top: 2px;
    }
    .resp-unageo-ot-2{
        font-size: 29px !important;
    }
    .resp-unageo-ot-4{
        font-size: 29px !important;
    }
}
@media screen and (max-width: 400px) {
    #unageo-var-varslider1{
        width: 130px;
    }
    #resp-ug-varslider1{
        width: 160px;
    }
    #unageo-var-varslider2{
        width: 130px;
    }
    #resp-ug-varslider2{
        width: 160px;
    }
    #unageo-var-varslider3{
        width: 80px;
    }
    #resp-ug-varslider3{
        width: 110px;
    }
    #unageo-var-varslider4{
        width: 80px;
    }
    #resp-ug-varslider4{
        width: 110px;
    }
    .Unageo-fonttestfield {
        min-height: 187px;
    }
}
@media screen and (max-width: 399px) {
    .resp-unageo-ot-2{
        font-size: 26px !important;
    }
    .resp-unageo-ot-4{
        font-size: 26px !important;
    }
}
@media screen and (max-width: 370px) {
    #resp-ug-varcontrol2{
        max-height: 42px;
    }
}
@media screen and (max-width: 373px) {
    .resp-unageo-ot-2{
        font-size: 24px !important;
    }
    .resp-unageo-ot-4{
        font-size: 24px !important;
    }
}